<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Proyecto_Integral</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Proyecto_Integral.styles.css" asp-append-version="true" />
        <link rel="shortcut icon" href="/Imagenes/logo.png">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow box-shadow-lg mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" ><span style="color:white"><img src="/Imagenes/logo.png" height="80px" width="auto"></span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                         <li class="nav-item">
                            <a class="nav-link" href='@Url.Action("Index", "Home")' style="color:white">Inicio</a>
                        </li>

                       
                         <li class="nav-item">
                            <a class="nav-link" href='@Url.Action("VerPeliculas", "Home")' style="color:white">Películas</a>
                        </li>

                           <li class="nav-item">
                            <a class="nav-link "  href='@Url.Action("VerSeries", "Home")' style="color:white">Series</a>
                        </li>

                    
                 
                        



                    </ul>

@*                   
                    <form method="get" Action='@Url.Action("HacerBusqueda", "Home")'>
                     <input class="form-control" type="text"  name="busc" placeholder="Realice una busqueda" >
                     <input class="btn btn-primary busqueda" value="Buscar"   type="submit">
                         </form> *@


                         <form method="get" Action='@Url.Action("HacerBusqueda", "Home")'>
                            
                             <input id="" type="text" name="busc" placeholder="Realice una búsqueda..." required class="redondeado2" style="border-radius:3px ;"/>
                           <button type="submit" class="btn-sm btn-primary redondeado2" style="border-radius:3px ;">Buscar</button>    
                          </form>



                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted box-shadow box-shadow-lg fixed-bottom"> @*fixed-bottom*@
        <div class="container">
            &copy; 2022 - ReseñandOrt - Tiago C, Fede G, Facu L
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
