
@{
    ViewData["Title"] = @ViewBag.InfoPelicula.Nombre;
}




    <div class="container pt-5">
      <div class="row">
         <div class="col-4"> <img src="@ViewBag.InfoPelicula.Foto" class="sombra" height="500px" width="auto" class="pt-5"></div>
         <div class="col-4" >
            <h1 class="">@ViewBag.InfoPelicula.Nombre</h1>
            <p class="pt-3 blanco">@ViewBag.InfoPelicula.Sinopsis</p> 
            <hr style="height:2px;border-width:0;color:gray;background-color:white">
            <p class="pt-1 blanco">Dirigida por:  @ViewBag.InfoPelicula.Director</p>
             <p class="blanco">Personaje principal:  @ViewBag.InfoPelicula.Protagonista</p>
             <p class="blanco">Fecha de estreno:  @ViewBag.InfoPelicula.FechaEstreno</p>
              
              <button type="button" class="btn boton" id="myBtn">Más información</button>
               <div class="pt-4"></div>
          <div class="row">  <div class="col"><h3 class="blanco tituloResenas">Reseñas:</h3></div><div class="col"><button type="button" class="botonRes" id="myBtn2">+</button></div> </div>
        
@*       
       <div class="contFormComnt">
              <form method="post" action='@Url.Action("GuardarReseñaPelicula","Home")'>
                <input class="form-control" type="hidden" name="IdPelicula" value=@ViewBag.InfoPelicula.IdPelicula >
                <textarea type="text" name="Contenido"></textarea>
                <input type="date" name="Fecha">
                <input type="text" name="NombreUsuario">
                <input type="number" name="Valoracion">
                <input type="submit">
              </form>
         </div>  *@

         
      @foreach (Reseñas res in @ViewBag.ListaReseñas)
      {
        <div class="">
        <hr class="lineaReseña"style="height:1px;border-width:0;color:gray;background-color:white">
        <div class="row"> <div class="col"><p class="blanco nombre">Reseña de: @res.NombreUsuario</p></div> <div class="col"> <img src="@res.Foto" height="20px" width="auto">  </div></div>
         <p class="blanco">@res.Contenido</p>
          
        </div>
      }


         </div>
      </div>
    </div>

      @*modal 1*@

     <div id="myModal" class="modal">

      <div class="modal-content">
       <div class="modal-header">
        
         
           <h2 class="text-center">Estadisticas</h2>
            <span class="close">&times;</span>
      </div>
      <div class="modal-body">
          <p class="letra">Recaudación:  @ViewBag.EstadisticaPelicula.Recaudacion</p>
           <p class="letra">Plata invertida:  @ViewBag.EstadisticaPelicula.Presupuesto</p>
            <p class="letra">Visualizaciones:  @ViewBag.EstadisticaPelicula.Visualizaciones</p>
             <p class="letra">Pais con más éxito:  @ViewBag.EstadisticaPelicula.PaisConMasExito</p>
       </div>
       
      </div>
     </div>   

      
      modal 2
        

         <div id="myModal2" class="modal">

      <div class="modal-content">
       <div class="modal-header">
        
         
           <h2 class="text-center">Crear una reseña</h2>
            <span class="close2">&times;</span>
      </div>
      <div class="modal-body">
          <div class="contFormComnt">
              <form method="post" action='@Url.Action("GuardarReseñaPelicula","Home")'>

                <input class="form-control" type="hidden" name="IdPelicula" value=@ViewBag.InfoPelicula.IdPelicula >
                <div class="col">
                  <div class="row">
                <input type="text" name="NombreUsuario" placeholder="Nombre de usuario" class="redondeado3" required>
                </div>
                <div class="pt-3"></div>
                <div class="row">
                <textarea type="text" name="Contenido" placeholder="Escribe aquí tu reseña" class="redondeado3" required></textarea>
                </div>
                 <div class="pb-3"></div>
                          <div class="row">
                <input type="number" name="Valoracion" placeholder="Valoración (1 a 5)" max="5" min="1" class="redondeado3" required>
                          </div>
                          <div class="row">
                             <div class="pb-3 "></div>
                <input type="submit" class="btn btn-primary">
                </div>
                </div>
              </form>
         </div>
       
      </div>
     </div>   
          </div>   
   

    