
    <form  method="post" id="formGeneros" action="javascript:FiltrarGeneros()" >
          <select class="" required name="id">
                      <option selected disabled value="" hidden>Filtrar</option>     
                      <option value = "1">Terror</option>
                      <option value = "2">Acción</option>
                      <option value = "3">Comedia</option>
                      <option value = "4">Suspenso</option>
                      <option value = "5">Drama</option>
                      <option value = "6">Fantasía</option>
                      <option value = "7">Infantil</option>
                      <option value = "8">Aventura</option>
                      <option value = "10">Crimen</option>
                      <option value = "11">Ciencia Ficción</option>
                  
        </select>
         <input class="btn-sm btn-primary" value="Aplicar" type="submit">
      </form>

<div class="container m-auto" id="Todas">
   <div class="row">
    @foreach (Peliculas pelis in @ViewBag.Peliculas)
    {

  
     <div class="col pt-5">
       <div class="card redondeado m-auto sombra mb-4" style="width: 18rem;">
            <a href='@Url.Action("VerInfoPeliculas","Home", new {IdPelicula=pelis.IdPelicula})' id="Todas" ><img id="Todas" class="card-img-top transparencia" src="@pelis.Foto" alt="Card image cap"  height="350px" width="auto"></a> 
          <div class="card-body">
            
          
            <a id="Todas" class="sd h4 nomCards" href='@Url.Action("VerInfoPeliculas","Home", new {IdPelicula=pelis.IdPelicula})' > @pelis.Nombre </a>
        
          </div>
        </div>
     </div>
       
    }  
   </div>
  </div>

  <div class="" id="Filtrada"></div>