<div class="cont">
    <form  method="post" id="formGeneros" action="javascript:FiltrarGeneros()" >
          <select class="" required>
                      <option selected disabled value="" hidden>Filtrar</option> 
                      <option value="0">Todas</option>    
                      <option value = "1" class="opcion" >Terror</option>
                      <option value = "2" class="opcion">Acción</option>
                      <option value = "3" class="opcion">Comedia</option>
                      <option value = "4" class="opcion">Suspenso</option>
                      <option value = "5" class="opcion">Drama</option>
                      <option value = "6" class="opcion">Fantasía</option>
                      <option value = "7" class="opcion">Infantil</option>
                      <option value = "8" class="opcion">Aventura</option>
                      <option value = "10" class="opcion">Crimen</option>
                      <option value = "11" class="opcion">Ciencia Ficción</option>
                  
        </select>
         <input class="btn-sm btn-primary inp" value="Aplicar" id="formGeneros" type="submit">
      </form>
</div>
<div class="container m-auto" id="Todas">
   <div class="row">
    @foreach (Peliculas pelis in @ViewBag.Peliculas)
    {

  
     <div class="col pt-5">
       <div class="card redondeado m-auto sombra mb-4" style="width: 18rem;">
            <a href='@Url.Action("VerInfoPeliculas","Home", new {IdPelicula=pelis.IdPelicula})' id="Todas" ><img id="Todas" class="card-img-top transparencia" src="@pelis.Foto" alt="Card image cap"  height="350px" width="auto"></a> 
          <div class="card-body">
            
          
            <a id="Todas" class="sd h4 nomCards" href='@Url.Action("VerInfoPeliculas","Home", new {IdPelicula=pelis.IdPelicula})' > @pelis.Nombre </a>
        
          </div>
        </div>
     </div>
       
    }  
   </div>
  </div>

  <div class="container m-auto" id="">
   <div class="row" id="Filtrada">
  @* <span class="" id="Filtrada"></span> *@
    
     </div>
  </div>